<div>
  <main>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <div class="slider-active">
            <div class="single-slider  hero-overly slider-height d-flex align-items-center"
           style="background-image: url('assets/img/hero/h1_hero.jpg'); /* Caminho da imagem */">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-11">
                            <div class="hero__caption">
                                <div class="hero-text1">
                                    <span data-animation="fadeInUp" data-delay=".3s">Serviços de Engenharia e
                                        construção </span>
                                </div>
                                <h1 data-animation="fadeInUp" data-delay=".5s">Construímos</h1>
                                <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">
                                    <h2> o seu futuro</h2>
                                    <h2> o seu futuro</h2>
                                </div>
                                <div class="hero-text2 mt-110" data-animation="fadeInUp" data-delay=".9s">
                                    <span><a href="services.html">Nossos Serviços</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
    <!-- slider Area End-->
    <!-- Services Area Start -->
    <div class="services-area1 section-padding30">
        <div class="container">
            <!-- section tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle mb-55">
                        <div class="front-text">
                            <h2 class="">Nossos Serviços</h2>
                        </div>
                        <span class="back-text">Serviços</span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-6  ">
                    <div class="single-service-cap mb-20">
                        <div class="service-img">
                            <img src="assets/img/service/servicess1.png" alt="">
                        </div>
                        <div class="service-cap">
                            <h4><a href="services_details.html">Arquitetura</a></h4>
                       </div>
                        <div class="service-icon">
                            <img src="assets/img/icon/services_icon1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-6 ">
                    <div class="single-service-cap mb-20">
                        <div class="service-img">
                            <img src="assets/img/service/servicess2.png" alt="">
                        </div>
                        <div class="service-cap">
                            <h4><a href="services_details.html">Engenharia</a></h4>
                       </div>
                        <div class="service-icon">
                            <img src="assets/img/icon/services_icon1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-6 ">
                    <div class="single-service-cap mb-20">
                        <div class="service-img">
                            <img src="assets/img/service/servicess3.png" alt="">
                        </div>
                        <div class="service-cap">
                            <h4><a href="services_details.htmlaa">construção civil </a></h4>
                       </div>
                        <div class="service-icon">
                            <img src="assets/img/icon/services_icon1.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-12 ">
                <div class="service-cap text-center" style="text-align: center;">
                   <h2> <a href="services.html" class="more-btn ">Ver todos Serviços <i class="ti-plus"></i></a></h2>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- Services Area End -->
    <!-- Sobre Nós Area Start -->
    <section class="support-company-area fix pt-10">
        <div class="support-wrapper align-items-end">
            <div class="left-content">
                <!-- section tittle -->
                <div class="section-tittle section-tittle2 mb-55">
                    <div class="front-text">
                        <h2 class="">Quem somos</h2>
                    </div>
                    <span class="back-text">Sobre nós</span>
                </div>
                <div class="support-caption">
                    <p class="pera-top"> Desde 2022, somos uma referência em construção civil, atuando com
                        excelência em todo o território nacional.</p>
                    <p> Nosso compromisso é transformar cada projeto em uma obra de qualidade excepcional, unindo
                        expertise e dedicação. Com ampla experiência no setor, construímos espaços que não apenas
                        atendem, mas superam as expectativas dos nossos clientes.</p>


                    <a href="Sobre Nós.html" class="btn red-btn2">leia mais</a>
                </div>
            </div>
            <div class="right-content">
                <!-- img -->
                <div class="right-img">
                    <img src="assets/img/gallery/safe_in.png" alt="">
                </div>
                <div class="support-img-cap text-center">
                    <p>Desde</p>
                    <span>2022</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Sobre Nós Area End -->
    <!-- Project Area Start -->
    <div class="team-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle5 mb-50">
                        <div class="front-text">
                            <h2 class="">Portifolio</h2>
                        </div>
                        <span class="back-text">Galeria</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single Tem -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/gallery/project1.png" alt="">
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/gallery/project2.png" alt="">
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/gallery/project3.png" alt="">
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/gallery/project4.png" alt="">
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/gallery/project5.png" alt="">
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/gallery/project6.png" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

 
    <!-- Project Area End -->
    <!-- contact with us Start -->
    <section class="contact-with-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-9 offset-xl-1 offset-lg-1">
                    <div class="contact-us-caption">
                        <div class="team-info mb-30 pt-45">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle4">
                                <div class="front-text">
                                    <h2 class="">Nosso Team</h2>
                                </div>
                                <span class="back-text">Equipe</span>
                            </div>
                            <p> Nossa equipe é composta por profissionais altamente qualificados e apaixonados pelo
                                que fazem. Desde arquitetos e engenheiros até operários e especialistas em
                                construção, trabalhamos em conjunto para transformar ideias em estruturas concretas.
                            </p>
                            <a href="#" class="white-btn">leia mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact with us End-->
    <!-- CountDown Area Start -->
    <div class="count-area">
        <div class="container">
            <div class="count-wrapper count-bg">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="count-clients">
                            <div class="single-counter">
                                <div class="count-number">
                                    <span class="counter">92</span>
                                </div>
                                <div class="count-text">
                                    <p>GARANTIA DE </p>
                                    <h5>QUALIDADE</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="count-clients">
                            <div class="single-counter">
                                <div class="count-number">
                                    <span class="counter">98</span>
                                </div>
                                <div class="count-text">
                                    <p>PLANEJAMENTO E</p>
                                    <h5>ESTRATÉGIA</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="count-clients">
                            <div class="single-counter">
                                <div class="count-number">
                                    <span class="counter">90</span>
                                </div>
                                <div class="count-text">
                                    <p>CONSTRUÇÃO DE </p>
                                    <h5>PROCESSO</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CountDown Area End -->
    <!-- Team Start -->
    <div class="team-area section-padding30">
        <div class="container">

            <div class="row">
                <!-- single Tem -->
                <div class="col-xl-7 col-lg-7 col-md-6 col-sm-">
                    <div class="left-content">
                        <!-- section tittle -->
                        <div class="section-tittle section-tittle2 mb-55">
                            <div class="front-text">
                                <h2 class="">Vantagem Competitiva Nacional</h2>
                            </div>
                            <span class="back-text">Vantagem</span>
                        </div>
                        <div class="support-caption">
                            <p class="pera-top"> Ser o maior centro de conhecimento e inovação em soluções técnicas
                                e tecnológicas, consolidando a liderança e referência nacional na prestação de
                                serviços.

                            </p>

                            <p> Comprometemo-nos com profissionalismo, objetividade, integridade, honestidade,
                                justiça, imparcialidade e rigor, sempre aplicando as mais avançadas técnicas e
                                tecnologias de informação.</p>

                        </div>
                    </div>
                </div>

                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/gallery/Mapa.png" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Team End -->


    <div class="testimonial-area t-bg testimonial-padding">
        <div class="container ">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle6 mb-50">
                        <div class="front-text">
                            <h2 class="">Nossos Clientes</h2>
                        </div>
                        <span class="back-text">Parceiros</span>
                    </div>
                </div>
            </div>

            <div class="slider-container">
                <div class="slider" id="slider">
                    <div class="slide"><img src="assets/img/parceiros/logo1.jpg" alt="Cliente 1"></div>
                    <div class="slide"><img src="assets/img/parceiros/logo3.jpg" alt="Cliente 2"></div>
                    <div class="slide"><img src="assets/img/parceiros/logo2.png" alt="Cliente 3"></div>
                    <div class="slide"><img src="assets/img/parceiros/logo1.jpg" alt="Cliente 4"></div>
                    <div class="slide"><img src="assets/img/parceiros/logo2.png" alt="Cliente 5"></div>
                    <!-- Clones para efeito infinito -->
                    <div class="slide"><img src="assets/img/parceiros/logo1.jpg" alt="Cliente 1"></div>
                    <div class="slide"><img src="assets/img/parceiros/logo3.jpg" alt="Cliente 2"></div>
                    <div class="slide"><img src="assets/img/parceiros/logo2.png" alt="Cliente 3"></div>
                    <div class="slide"><img src="assets/img/parceiros/logo1.jpg" alt="Cliente 4"></div>
                    <div class="slide"><img src="assets/img/parceiros/logo2.png" alt="Cliente 5"></div>
                </div>
            </div>


 
 

        </div>
    </div>
    


    <!--latest Nnews Area start -->
    <div class="latest-news-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle7 mb-50">
                        <div class="front-text">
                            <h2 class="">Perguntas Frequentes</h2>
                        </div>
                        <span class="back-text">Perguntas</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7">

                    <!-- single-news -->
                    <div class="faq-container">
                        <div class="faq-item">
                            <p class="faq-question">O que é a Melkor?</p>
                            <p class="faq-answer">A Melkor é uma empresa de referência na construção civil desde
                                2022.</p>
                        </div>
                        <div class="faq-item">
                            <p class="faq-question">Quais serviços oferecemos?</p>
                            <p class="faq-answer">Oferecemos serviços de construção civil, reformas e obras
                                públicas.</p>
                        </div>
                        <div class="faq-item">
                            <p class="faq-question">Como entrar em contato?</p>
                            <p class="faq-answer">Você pode nos contatar pelo e-mail ou telefone disponíveis em
                                nosso site.</p>
                        </div>
                    </div>

                </div>
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <img style="width: 100%;" src="assets/img/pergunta.png" alt="Cliente 1">
                </div>
            </div>
        </div>
    </div>
    <!--latest News Area End -->

</main>
</div>