<main>
  <!-- slider Area Start-->
  <div class="slider-area ">
      <div class="single-slider hero-overly slider-height2 d-flex align-items-center"
      style=" background-image: url('assets/img/hero/sobre.jpg');">
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="hero-cap pt-100">
                          <h2>Sobre nós</h2>
                          <nav aria-label="breadcrumb ">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                  <li class="breadcrumb-item"><a href="#">Servicos</a></li>
                              </ol>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- slider Area End-->
  <!-- About Area Start -->
  <section class="support-company-area fix pt-10">
      <div class="support-wrapper align-items-end">
          <div class="left-content">
              <!-- section tittle -->
              <div class="section-tittle section-tittle2 mb-55">
                  <div class="front-text">
                      <h2 class="">Quem somos</h2>
                  </div>
                  <span class="back-text">Sobre nós</span>
              </div>
              <div class="support-caption">
                  <p class="pera-top"> Desde 2022, somos uma referência em construção civil, atuando com
                      excelência em todo o território nacional.</p>
                  <p> Nosso compromisso é transformar cada projeto em uma obra de qualidade excepcional, unindo
                      expertise e dedicação. Com ampla experiência no setor, construímos espaços que não apenas
                      atendem, mas superam as expectativas dos nossos clientes.</p>


              </div>
          </div>
          <div class="right-content">
              <!-- img -->
              <div class="right-img">
                  <img src="assets/img/gallery/safe_in.png" alt="">
              </div>
              <div class="support-img-cap text-center">
                  <p>Desde</p>
                  <span>2022</span>
              </div>
          </div>
      </div>
  </section>
  <!-- About Area End -->
  <!-- Testimonial Start -->

  <div class="team-area section-padding30">
      <div class="container">
  <div class="misao_visao">

      <div class="container_misao_visao">
          <div class="box_misao_visao">
              <i class="fas fa-bullseye icon_misao_visao"></i>
              <div class="section-tittle section-tittle2 mb-15">
                  <div class="front-text">
                      <h2 class="">Missão</h2>
                  </div>
              </div> 
              <p>
                  Nossa missão é prestar serviço serviços com elevado padrão de qualidade, considerando fundamental o cumprimento das normas de Qualidade, Segurança e Meio Ambiente. Inovando continuamente por meio de investimentos em tecnologia e qualificação profissional, visando o aperfeiçoamento constante dos nossos trabalhos e a satisfação de nossos clientes.
              </p>
          </div>
          <div class="box_misao_visao">
              <i class="fas fa-eye icon_misao_visao"></i>
              <div class="section-tittle section-tittle2 mb-15">
                  <div class="front-text">
                      <h2 class="">Visão</h2>
                  </div>
              </div>
              <p>
                  Ser uma empresa líder em referência no setor da construção civil, atendendo as demandas com uma estrutura competente e otimizada que nos permita enfrentar novos desafios e continuar a superar as expectativas de nossos clientes, possibilitando assim um crescimento sólido e a consequente expansão de nossas atividades.
              </p>
          </div>
          <div class="box_misao_visao"> 
              <i class="fas fa-handshake icon_misao_visao"></i>
              <div class="section-tittle section-tittle2 mb-15">
                  <div class="front-text">
                      <h2 class="">Valores</h2>
                  </div>
              </div>
              <p>Ética e transparência;  
                  qualidade, compromisso, inovação; respeito ao cliente; Comprometimento;
                  Sustentabilidade.</p>
          </div>
      </div>
  </div>

</div>
</div>

  <!-- Testimonial End -->
  <!-- Team Start -->
  <div class="team-area ">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <!-- Section Tittle -->
                  <div class="section-tittle section-tittle5 mb-50">
                      <div class="front-text">
                          <h2 class="">Nosso Team</h2>
                      </div>
                      <span class="back-text">Equipe</span>
                  </div>
              </div>
          </div>


          <div class="row">
              <!-- single Tem -->
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                  <div class="single-team mb-30">
                      <div class="team-img">
                          <img src="assets/img/team/team1.jpg" alt="">
                      </div>
                      <div class="team-caption">
                          <span>Ferreiro</span>
                     
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                  <div class="single-team mb-30">
                      <div class="team-img">
                          <img src="assets/img/team/team2.jpg" alt="">
                      </div>
                      <div class="team-caption">
                          <span>Pedreiro</span>
                          
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                  <div class="single-team mb-30">
                      <div class="team-img">
                          <img src="assets/img/team/team3.jpg" alt="">
                      </div>
                      <div class="team-caption">
                          <span>Marceneiro</span>
                      
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Team End -->
</main>